df_metricas_seq.csv
models/kfold_models/modelo_gbt_kfold.joblib
models/modelo_rf.joblib
models/modelo_rf_op.zip
models/modelo_rf_op.joblib
ZMays/Agrup/complex_networks_agrupado.csv
ZMays/Agrup/log_erros.txt
ZMays/k-mer.zip
ZMays/Agrup/k-mer/divididos/k-mer_agrupado_parte_1_de_5.csv
ZMays/Agrup/k-mer/divididos/k-mer_agrupado_parte_2_de_5.csv
ZMays/Agrup/k-mer/divididos/k-mer_agrupado_parte_3_de_5.csv
ZMays/Agrup/k-mer/divididos/k-mer_agrupado_parte_4_de_5.csv
ZMays/Agrup/k-mer/divididos/k-mer_agrupado_parte_5_de_5.csv
ZMays/Agrup/k-mer/k-mer_agrupado.csv